section.footer
	.container
		.inline-layout.col-4
			.f-item.serv
				h5 СЕРВИС
				ul
					li
						a(href="#") СВЯЗАТЬСЯ С НАМИ
					li
						a(href="#") ИНФОРМАЦИЯ О ДОСТАВКЕ
					li
						a(href="#") ЛИЧНЫЙ КАБИНЕТ
			.f-item.arts
				h5 СТАТЬИ
				ul
					li
						a(href="#") ИСТОРИЯ БРЕНДА
					li
						a(href="#") ФУТБОЛЬНЫЕ КЛУБЫ
					li
						a(href="#") ТЕННИСИСТЫ
			.f-item
				h5 КОНТАКТЫ
				ul
					li
						span КИЕВ
					li
						span УЛ. ХОЗЯЙСТВЕННАЯ, 1
					li
						span ТЕЛ: (099) 434-78-78
					li.padd
						span (099) 434-78-78
					li.padd
						span (099) 434-78-78
					li.padd
						span (099) 434-78-78
				ul.mail
					li
						span EMAIL:
					li
						a(href="#") LOTTOUKRAINE@GMAIL.COM
			.f-item
				h5 СЛЕДУЙТЕ ЗА НАМИ:
				ul.links
					li
						a(href="#") ПОЛИТИКА
					li
						a(href="#") КОНФИДЕНЦИАЛЬНОСТИ
					li
						a(href="#") COPYRIGHT 2015 LOTTO

          


