script(src='external/jquery/dist/jquery.min.js')
script(src='external/jquery.browser/dist/jquery.browser.min.js')
script(src='external/owl-carousel/dist/owl.carousel.min.js')
script(src='external/jquery-validation-1.16.0/dist/jquery.validate.min.js')
script(src='external/jquery-ui/jquery-ui.min.js')
script(src='js/main.js')
