section.header
	.container
		.top-line
			.main-nav
				ul.inline-layout
					li
						a(href="#") Главная
					li
						a(href="#") Оплата и доставка
					li
						a(href="#") Ближайшие магазины
			.contacts
				ul
					li
						a(href="#")
							img(src="img/icons/viber.svg", alt="")
							img(src="img/icons/ks.svg", alt="")
							span +38 /067/ 555 55 55
					li
						a(href="#")
							img(src="img/icons/ks.svg", alt="")
							span +38 /067/ 555 55 55
					li
						a(href="#")
							img(src="img/icons/mts.svg", alt="")
							span +38 /067/ 555 55 55
					li
						a(href="#")
							span +38 /067/ 555 55 55
				a(href="#").call
					span заказать звонок		
			.busket
				a(href="#")
					|  товаров
					span  0
					|  |
					span  0
					|  uah
section.categories
	.container
		.cat-wraper
			.brand-holder
				.image-holder
					img(src="img/icons/logo1.png", alt="")
			.top-search
				.search-holder
					form(action="")
						input(type="text", placeholder="ПОИСК ПО САЙТУ")
						button Найти 
			.top-cat
				a(href="#").mobile-nav-btn#mobile-nav-btn
					span
					span
					span
				ul.inline-layout
					li
						a(href="#") БРЕНДЫ
					li
						a(href="#") МУЖСКАЯ ОБУВЬ
					li
						a(href="#") ЖЕНСКАЯ ОБУВЬ
					li
						a(href="#") ОДЕЖДА, РЮКЗАКИ
					li
						a(href="#") АКСЕССУАРЫ
					li
						a(href="#") НОВОСТИ И АКЦИИ
					li
						a(href="#") ОТЗЫВЫ
