section.header
	.top-line
		.main-nav
			ul.inline-layout
				li
					a(href="#") Главная
				li
					a(href="#") Оплата и доставка
				li
					a(href="#") Ближайшие магазины
		.contacts
			ul.drop-down
				li
					a(href="#")
						img(src="img/icons/viber.svg", alt="")
						img(src="img/icons/ks.svg", alt="")
						span +38 /067/ 555 55 55
				li
					a(href="#")
						img(src="img/icons/ks.svg", alt="")
						span +38 /067/ 555 55 55
				li
					a(href="#")
						img(src="img/icons/mts.svg", alt="")
						span +38 /067/ 555 55 55
				li
					a(href="#")
						img(src="img/icons/life.svg", alt="")
						span +38 /067/ 555 55 55
			ul.drop-xg.inline-layout
				li
					a(href="#")
						img(src="img/icons/viber.svg", alt="")
						img(src="img/icons/ks.svg", alt="")
						span +38 /067/ 555 55 55
				li
					a(href="#")
						img(src="img/icons/ks.svg", alt="")
						span +38 /067/ 555 55 55
				li
					a(href="#")
						img(src="img/icons/mts.svg", alt="")
						span +38 /067/ 555 55 55
				li
					a(href="#")
						span +38 /067/ 555 55 55
			a(href="#").call
				span заказать звонок		
		.busket
			a(href="#")
				|  товаров
				span  50
				|  |
				span  1540
				|  uah
section.categories
	.container
		.cat-wraper
			.brand-holder
				.image-holder
					img(src="img/icons/logo1.png", alt="")
			.top-search
				.search-holder
					form(action="")
						input(type="text", placeholder="ПОИСК ПО САЙТУ")
						button Найти 
			.top-cat
				a(href="#").mobile-nav-btn#mobile-nav-btn
					span
					span
					span
				ul.nav-list.inline-layout
					li.list-item
						a(href="#") БРЕНДЫ
						.menu-block
							ul
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
							ul
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
					li.list-item
						a(href="#") МУЖСКАЯ ОБУВЬ
						.menu-block
							ul
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
							ul
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
					li.list-item
						a(href="#") ЖЕНСКАЯ ОБУВЬ
						.menu-block
							ul
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
							ul
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
					li.list-item
						a(href="#") ОДЕЖДА, РЮКЗАКИ
						.menu-block
							ul
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
							ul
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
					li.list-item
						a(href="#") АКСЕССУАРЫ
						.menu-block
							ul
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								li
									a(href="#") Бренд №
								
					li.list-item
						a(href="#") НОВОСТИ И АКЦИИ
					li.list-item
						a(href="#") ОТЗЫВЫ
