doctype html
html(lang='ru')
	head
		title categories

		include ./partials/head.jade

	body
		include ./partials/noscript.jade
		include ./partials/top-line.jade
		



		
		section.breadcrumbs
			.container
				ul.inline-layout
					li
						a(href="#") Главная
					li
						span /
					li
						a(href="#") Мужская обувь
				p.cat-name Мужская обувь

			
		section.cat-bunner
			.container
				.image-holder
					img.fake-img(src='img/content/tov7.png', alt='img/content/bunner2.png')
					.img(style='background-image: url("img/content/bunner2.png")')

		section.categories
			.container
				.cat-holder
					.aside-panel
						a(href="#").close-btn
							i.fa.fa-times(aria-hidden="true")
						.filters
							h5 фильтровать по:
							.price-filter
								h5 цене
								.range-holder
									#slider-range
									.amount-holder
										span от
										input#amount1(type='text', readonly='')
										span до
										input#amount2(type='text', readonly='')
										span грн
							.brand-filter
								h5 бренду
								.boxes
									ul.inline-layout.col-2
										li
											.checkbox
												input#checkbox1(type='checkbox')
												label(for='checkbox1') HALLY
										li
											.checkbox
												input#checkbox2(type='checkbox')
												label(for='checkbox2') KEDS
										li
											.checkbox
												input#checkbox3(type='checkbox')
												label(for='checkbox3') HANSEN
										li
											.checkbox
												input#checkbox4(type='checkbox')
												label(for='checkbox4') KMM
										li
											.checkbox
												input#checkbox5(type='checkbox')
												label(for='checkbox5') SAUCONY
										li
											.checkbox
												input#checkbox6(type='checkbox')
												label(for='checkbox6') NEW ROCK
										li
											.checkbox
												input#checkbox7(type='checkbox')
												label(for='checkbox7') PAEZ
										li
											.checkbox
												input#checkbox8(type='checkbox')
												label(for='checkbox8') NEW BALANCE
										li
											.checkbox
												input#checkbox9(type='checkbox')
												label(for='checkbox9') GOLA
										li
											.checkbox
												input#checkbox12(type='checkbox')
												label(for='checkbox12') BREAK FREE
										li
											.checkbox
												input#checkbox13(type='checkbox')
												label(for='checkbox13') OSIRIS
										li
											.checkbox
												input#checkbox14(type='checkbox')
												label(for='checkbox14') BUSTAGRIP
										li
											.checkbox
												input#checkbox15(type='checkbox')
												label(for='checkbox15') RIDER
										li
											.checkbox
												input#checkbox16(type='checkbox')
												label(for='checkbox16') CONVERSE
										li
											.checkbox
												input#checkbox22(type='checkbox')
												label(for='checkbox22') STEEL
										li
											.checkbox
												input#checkbox33(type='checkbox')
												label(for='checkbox33') C1RCA
										li
											.checkbox
												input#checkbox34(type='checkbox')
												label(for='checkbox34') SPERRY
										li
											.checkbox
												input#checkbox35(type='checkbox')
												label(for='checkbox35') DR.MARTENS
										li
											.checkbox
												input#checkbox36(type='checkbox')
												label(for='checkbox36') TIMBERLAND
										li
											.checkbox
												input#checkbox37(type='checkbox')
												label(for='checkbox37') ECCO
										li
											.checkbox
												input#checkbox38(type='checkbox')
												label(for='checkbox38') WISHOT
										li
											.checkbox
												input#checkbox39(type='checkbox')
												label(for='checkbox39') GRINDERS
										li
											.checkbox
												input#checkbox45(type='checkbox')
												label(for='checkbox45') COQUI
										li
											.checkbox
												input#checkbox45(type='checkbox')
												label(for='checkbox45') COQUI
							
							.btn-holder
								a(href="#").button Показать

						.bunner
							.image-holder
								img(src="img/content/cat-bunner-1.png", alt="")
						.bunner
							.image-holder
								img(src="img/content/cat-bunner-2.png", alt="")


					.cat-top
						a(href="#").filters-btn
							i.fa.fa-filter(aria-hidden="true")
						.inline-layout
							.indicator ПОКАЗАНО С 1 ПО 10 ИЗ 138 (ВСЕГО 138 СТРАНИЦ)
							.pagination
								ul.inline-layout
									li
										a(href="#").start
									li
										a(href="#").prev
									li
										a(href="#") ...
									li
										a(href="#") 12
									li
										a(href="#") 13
									li.active
										a(href="#") 14
									li
										a(href="#") 15
									li
										a(href="#") 16
									li
										a(href="#") ...
									li
										a(href="#").next
									li
										a(href="#").end
							.sort-holder
								ul
									li
										.select
											input.select-toggle(type='text')
											.select-text показать
											ul.select-content
												li
													a(href='#') показать все
												li
													a(href='#') показывать по 10
												li
													a(href='#') Только новинки
												li
													a(href='#') Только со скидкой
												li
													a(href='#') Только лидеры
									li
										.select
											input.select-toggle(type='text')
											.select-text сортировать
											ul.select-content
												li
													a(href='#') от дешевых к дорогим
												li
													a(href='#') от дорогих к дешевым
												li
													a(href='#') самые новые
					.categories-content
						.products.inline-layout
							.cat-item
								.labels-holder
									.label -30%
								.image-holder
									img(src="img/content/sl1.png", alt="")
								.item-body
									.text-holder
										p
											|Костюм мужской SUIT STARS EVO PL RIB
									.price-holder
										span.name Цена:
										span.old 2190
										span 1547 uah
									.prod-sizes
										p Доступные размеры:
										ul.inline-layout
											li
												a.option(href="#") XS
											li
												a.option(href="#") S
											li
												a.option(href="#") M
											li
												a.option(href="#") L
											li
												a.option(href="#") XL
											li
												a.option(href="#") XXL
											li
												a.option(href="#") XXXL
										select#34.prod-select(name="prod-select")
											option(value="XS", selected) XS
											option(value="S") S
											option(value="M") M
											option(value="L") L
											option(value="XL") XL
											option(value="XXL") XXL
											option(value="XXXL") XXXL
									.rate-holder
										.reviews
											a(href="#") Отзывы: 238
										.stars
											fieldset.rating
												input#star5(type='radio', name='rating2', value='05')
												label.full(for='star5', title='Awesome - 5 stars')
												input#star4half(type='radio', name='rating2', value='04 and a half')
												label.half(for='star4half', title='Pretty good - 4.5 stars')
												input#star4(type='radio', name='rating2', value='04')
												label.full(for='star4', title='Pretty good - 4 stars')
												input#star3half(type='radio', name='rating2', value='03 and a half')
												label.half(for='star3half', title='Meh - 3.5 stars')
												input#star3(type='radio', name='rating2', value='03')
												label.full(for='star3', title='Meh - 3 stars')
												input#star2half(type='radio', name='rating2', value='02 and a half')
												label.half(for='star2half', title='Kinda bad - 2.5 stars')
												input#star2(type='radio', name='rating2', value='02')
												label.full(for='star2', title='Kinda bad - 2 stars')
												input#star1half(type='radio', name='rating2', value='01 and a half')
												label.half(for='star1half', title='Meh - 1.5 stars')
												input#star1(type='radio', name='rating2', value='01')
												label.full(for='star1', title='Sucks big time - 1 star')
												input#starhalf(type='radio', name='rating2', value='0half')
												label.half(for='starhalf', title='Sucks big time - 0.5 stars')
							.cat-item
								.labels-holder
									.label NEW
								.image-holder
									img(src="img/content/sl2.png", alt="")
								.item-body
									.text-holder
										p
											|Костюм мужской SUIT STARS EVO PL RIB
									.price-holder
										span.name Цена:
										span.old 2190
										span 1547 uah
									.prod-sizes
										p Доступные размеры:
										ul.inline-layout
											li
												a.option(href="#") XS
											li
												a.option(href="#") S
											li
												a.option(href="#") M
											li
												a.option(href="#") L
											li
												a.option(href="#") XL
											li
												a.option(href="#") XXL
											li
												a.option(href="#") XXXL
										select#34.prod-select(name="prod-select")
											option(value="XS", selected) XS
											option(value="S") S
											option(value="M") M
											option(value="L") L
											option(value="XL") XL
											option(value="XXL") XXL
											option(value="XXXL") XXXL
									.rate-holder
										.reviews
											a(href="#") Отзывы: 238
										.stars
											fieldset.rating
												input#star51(type='radio', name='rating3', value=' 35')
												label.full(for='star51', title='Awesome - 5 stars')
												input#star41half(type='radio', name='rating3', value=' 34 and a half')
												label.half(for='star41half', title='Pretty good - 4.5 stars')
												input#star41(type='radio', name='rating3', value=' 34')
												label.full(for='star41', title='Pretty good - 4 stars')
												input#star31half(type='radio', name='rating3', value=' 33 and a half')
												label.half(for='star31half', title='Meh - 3.5 stars')
												input#star31(type='radio', name='rating3', value=' 33')
												label.full(for='star31', title='Meh - 3 stars')
												input#star21half(type='radio', name='rating3', value=' 32 and a half')
												label.half(for='star21half', title='Kinda bad - 2.5 stars')
												input#star21(type='radio', name='rating3', value=' 32')
												label.full(for='star21', title='Kinda bad - 2 stars')
												input#star11half(type='radio', name='rating3', value=' 31 and a half')
												label.half(for='star11half', title='Meh - 1.5 stars')
												input#star11(type='radio', name='rating3', value=' 31')
												label.full(for='star11', title='Sucks big time - 1 star')
												input#star0half(type='radio', name='rating3', value=' 3half')
												label.half(for='star0half', title='Sucks big time - 0.5 stars')
							.cat-item
								.labels-holder
									.label NEW
								.image-holder
									img(src="img/content/sl3.png", alt="")
								.item-body
									.text-holder
										p
											|Костюм мужской SUIT STARS EVO PL RIB
									.price-holder
										span.name Цена:
										span.old 2190
										span 1547 uah
									.prod-sizes
										p Доступные размеры:
										ul.inline-layout
											li
												a.option(href="#") XS
											li
												a.option(href="#") S
											li
												a.option(href="#") M
											li
												a.option(href="#") L
											li
												a.option(href="#") XL
											li
												a.option(href="#") XXL
											li
												a.option(href="#") XXXL
										select#34.prod-select(name="prod-select")
											option(value="XS", selected) XS
											option(value="S") S
											option(value="M") M
											option(value="L") L
											option(value="XL") XL
											option(value="XXL") XXL
											option(value="XXXL") XXXL
									.rate-holder
										.reviews
											a(href="#") Отзывы: 238
										.stars
											fieldset.rating
												input#star52(type='radio', name='rating1', value='15')
												label.full(for='star52', title='Awesome - 5 stars')
												input#star42half(type='radio', name='rating1', value='14 and a half')
												label.half(for='star42half', title='Pretty good - 4.5 stars')
												input#star42(type='radio', name='rating1', value='14')
												label.full(for='star42', title='Pretty good - 4 stars')
												input#star32half(type='radio', name='rating1', value='13 and a half')
												label.half(for='star32half', title='Meh - 3.5 stars')
												input#star32(type='radio', name='rating1', value='13')
												label.full(for='star32', title='Meh - 3 stars')
												input#star22half(type='radio', name='rating1', value='12 and a half')
												label.half(for='star22half', title='Kinda bad - 2.5 stars')
												input#star22(type='radio', name='rating1', value='12')
												label.full(for='star22', title='Kinda bad - 2 stars')
												input#star12half(type='radio', name='rating1', value='11 and a half')
												label.half(for='star12half', title='Meh - 1.5 stars')
												input#star12(type='radio', name='rating1', value='11')
												label.full(for='star12', title='Sucks big time - 1 star')
												input#star02half(type='radio', name='rating1', value='1half')
												label.half(for='star02half', title='Sucks big time - 0.5 stars')
							.cat-item
								.labels-holder
									.label NEW
								.image-holder
									img(src="img/content/sl4.png", alt="")
								.item-body
									.text-holder
										p
											|Костюм мужской SUIT STARS EVO PL RIB
									.price-holder
										span.name Цена:
										span.old 2190
										span 1547 uah
									.prod-sizes
										p Доступные размеры:
										ul.inline-layout
											li
												a.option(href="#") XS
											li
												a.option(href="#") S
											li
												a.option(href="#") M
											li
												a.option(href="#") L
											li
												a.option(href="#") XL
											li
												a.option(href="#") XXL
											li
												a.option(href="#") XXXL
										select#34.prod-select(name="prod-select")
											option(value="XS", selected) XS
											option(value="S") S
											option(value="M") M
											option(value="L") L
											option(value="XL") XL
											option(value="XXL") XXL
											option(value="XXXL") XXXL
									.rate-holder
										.reviews
											a(href="#") Отзывы: 238
										.stars
											fieldset.rating
												input#star53(type='radio', name='rating4', value='55')
												label.full(for='star53', title='Awesome - 5 stars')
												input#star43half(type='radio', name='rating4', value='54 and a half')
												label.half(for='star43half', title='Pretty good - 4.5 stars')
												input#star43(type='radio', name='rating4', value='54')
												label.full(for='star43', title='Pretty good - 4 stars')
												input#star33half(type='radio', name='rating4', value='53 and a half')
												label.half(for='star33half', title='Meh - 3.5 stars')
												input#star33(type='radio', name='rating4', value='53')
												label.full(for='star33', title='Meh - 3 stars')
												input#star23half(type='radio', name='rating4', value='52 and a half')
												label.half(for='star23half', title='Kinda bad - 2.5 stars')
												input#star23(type='radio', name='rating4', value='52')
												label.full(for='star23', title='Kinda bad - 2 stars')
												input#star13half(type='radio', name='rating4', value='51 and a half')
												label.half(for='star13half', title='Meh - 1.5 stars')
												input#star13(type='radio', name='rating4', value='51')
												label.full(for='star13', title='Sucks big time - 1 star')
												input#star03half(type='radio', name='rating4', value='5half')
												label.half(for='star03half', title='Sucks big time - 0.5 stars')
							.cat-item
								.labels-holder
									.label -30%
								.image-holder
									img(src="img/content/sl1.png", alt="")
								.item-body
									.text-holder
										p
											|Костюм мужской SUIT STARS EVO PL RIB
									.price-holder
										span.name Цена:
										span.old 2190
										span 1547 uah
									.prod-sizes
										p Доступные размеры:
										ul.inline-layout
											li
												a.option(href="#") XS
											li
												a.option(href="#") S
											li
												a.option(href="#") M
											li
												a.option(href="#") L
											li
												a.option(href="#") XL
											li
												a.option(href="#") XXL
											li
												a.option(href="#") XXXL
										select#34.prod-select(name="prod-select")
											option(value="XS", selected) XS
											option(value="S") S
											option(value="M") M
											option(value="L") L
											option(value="XL") XL
											option(value="XXL") XXL
											option(value="XXXL") XXXL
									.rate-holder
										.reviews
											a(href="#") Отзывы: 238
										.stars
											fieldset.rating
												input#star54(type='radio', name='rating5', value='65')
												label.full(for='star54', title='Awesome - 5 stars')
												input#star44half(type='radio', name='rating5', value='64 and a half')
												label.half(for='star44half', title='Pretty good - 4.5 stars')
												input#star44(type='radio', name='rating5', value='64')
												label.full(for='star44', title='Pretty good - 4 stars')
												input#star34half(type='radio', name='rating5', value='63 and a half')
												label.half(for='star34half', title='Meh - 3.5 stars')
												input#star34(type='radio', name='rating5', value='63')
												label.full(for='star34', title='Meh - 3 stars')
												input#star24half(type='radio', name='rating5', value='62 and a half')
												label.half(for='star24half', title='Kinda bad - 2.5 stars')
												input#star24(type='radio', name='rating5', value='62')
												label.full(for='star24', title='Kinda bad - 2 stars')
												input#star14half(type='radio', name='rating5', value='61 and a half')
												label.half(for='star14half', title='Meh - 1.5 stars')
												input#star14(type='radio', name='rating5', value='61')
												label.full(for='star14', title='Sucks big time - 1 star')
												input#star04half(type='radio', name='rating5', value='6half')
												label.half(for='star04half', title='Sucks big time - 0.5 stars')
							.cat-item
								.labels-holder
									.label NEW
								.image-holder
									img(src="img/content/sl2.png", alt="")
								.item-body
									.text-holder
										p
											|Костюм мужской SUIT STARS EVO PL RIB
									.price-holder
										span.name Цена:
										span.old 2190
										span 1547 uah
									.prod-sizes
										p Доступные размеры:
										ul.inline-layout
											li
												a.option(href="#") XS
											li
												a.option(href="#") S
											li
												a.option(href="#") M
											li
												a.option(href="#") L
											li
												a.option(href="#") XL
											li
												a.option(href="#") XXL
											li
												a.option(href="#") XXXL
										select#34.prod-select(name="prod-select")
											option(value="XS", selected) XS
											option(value="S") S
											option(value="M") M
											option(value="L") L
											option(value="XL") XL
											option(value="XXL") XXL
											option(value="XXXL") XXXL
									.rate-holder
										.reviews
											a(href="#") Отзывы: 238
										.stars
											fieldset.rating
												input#star55(type='radio', name='rating6', value='75')
												label.full(for='star55', title='Awesome - 5 stars')
												input#star45half(type='radio', name='rating6', value='74 and a half')
												label.half(for='star45half', title='Pretty good - 4.5 stars')
												input#star45(type='radio', name='rating6', value='74')
												label.full(for='star45', title='Pretty good - 4 stars')
												input#star35half(type='radio', name='rating6', value='73 and a half')
												label.half(for='star35half', title='Meh - 3.5 stars')
												input#star35(type='radio', name='rating6', value='73')
												label.full(for='star35', title='Meh - 3 stars')
												input#star25half(type='radio', name='rating6', value='72 and a half')
												label.half(for='star25half', title='Kinda bad - 2.5 stars')
												input#star25(type='radio', name='rating6', value='72')
												label.full(for='star25', title='Kinda bad - 2 stars')
												input#star15half(type='radio', name='rating6', value='71 and a half')
												label.half(for='star15half', title='Meh - 1.5 stars')
												input#star15(type='radio', name='rating6', value='71')
												label.full(for='star15', title='Sucks big time - 1 star')
												input#star05half(type='radio', name='rating6', value='7half')
												label.half(for='star05half', title='Sucks big time - 0.5 stars')
							.cat-item
								.labels-holder
									.label NEW
								.image-holder
									img(src="img/content/sl3.png", alt="")
								.item-body
									.text-holder
										p
											|Костюм мужской SUIT STARS EVO PL RIB
									.price-holder
										span.name Цена:
										span.old 2190
										span 1547 uah
									.prod-sizes
										p Доступные размеры:
										ul.inline-layout
											li
												a.option(href="#") XS
											li
												a.option(href="#") S
											li
												a.option(href="#") M
											li
												a.option(href="#") L
											li
												a.option(href="#") XL
											li
												a.option(href="#") XXL
											li
												a.option(href="#") XXXL
										select#34.prod-select(name="prod-select")
											option(value="XS", selected) XS
											option(value="S") S
											option(value="M") M
											option(value="L") L
											option(value="XL") XL
											option(value="XXL") XXL
											option(value="XXXL") XXXL
									.rate-holder
										.reviews
											a(href="#") Отзывы: 238
										.stars
											fieldset.rating
												input#star56(type='radio', name='rating7', value='85')
												label.full(for='star56', title='Awesome - 5 stars')
												input#star46half(type='radio', name='rating7', value='84 and a half')
												label.half(for='star46half', title='Pretty good - 4.5 stars')
												input#star46(type='radio', name='rating7', value='84')
												label.full(for='star46', title='Pretty good - 4 stars')
												input#star36half(type='radio', name='rating7', value='83 and a half')
												label.half(for='star36half', title='Meh - 3.5 stars')
												input#star36(type='radio', name='rating7', value='83')
												label.full(for='star36', title='Meh - 3 stars')
												input#star26half(type='radio', name='rating7', value='82 and a half')
												label.half(for='star26half', title='Kinda bad - 2.5 stars')
												input#star26(type='radio', name='rating7', value='82')
												label.full(for='star26', title='Kinda bad - 2 stars')
												input#star16half(type='radio', name='rating7', value='81 and a half')
												label.half(for='star16half', title='Meh - 1.5 stars')
												input#star16(type='radio', name='rating7', value='81')
												label.full(for='star16', title='Sucks big time - 1 star')
												input#star06half(type='radio', name='rating7', value='8half')
												label.half(for='star06half', title='Sucks big time - 0.5 stars')
							.cat-item
								.labels-holder
									.label NEW
								.image-holder
									img(src="img/content/sl4.png", alt="")
								.item-body
									.text-holder
										p
											|Костюм мужской SUIT STARS EVO PL RIB
									.price-holder
										span.name Цена:
										span.old 2190
										span 1547 uah
									.prod-sizes
										p Доступные размеры:
										ul.inline-layout
											li
												a.option(href="#") XS
											li
												a.option(href="#") S
											li
												a.option(href="#") M
											li
												a.option(href="#") L
											li
												a.option(href="#") XL
											li
												a.option(href="#") XXL
											li
												a.option(href="#") XXXL
										select#34.prod-select(name="prod-select")
											option(value="XS", selected) XS
											option(value="S") S
											option(value="M") M
											option(value="L") L
											option(value="XL") XL
											option(value="XXL") XXL
											option(value="XXXL") XXXL
									.rate-holder
										.reviews
											a(href="#") Отзывы: 238
										.stars
											fieldset.rating
												input#star57(type='radio', name='rating8', value='95')
												label.full(for='star57', title='Awesome - 5 stars')
												input#star47half(type='radio', name='rating8', value='94 and a half')
												label.half(for='star47half', title='Pretty good - 4.5 stars')
												input#star47(type='radio', name='rating8', value='94')
												label.full(for='star47', title='Pretty good - 4 stars')
												input#star37half(type='radio', name='rating8', value='93 and a half')
												label.half(for='star37half', title='Meh - 3.5 stars')
												input#star37(type='radio', name='rating8', value='93')
												label.full(for='star37', title='Meh - 3 stars')
												input#star27half(type='radio', name='rating8', value='92 and a half')
												label.half(for='star27half', title='Kinda bad - 2.5 stars')
												input#star27(type='radio', name='rating8', value='92')
												label.full(for='star27', title='Kinda bad - 2 stars')
												input#star17half(type='radio', name='rating8', value='91 and a half')
												label.half(for='star17half', title='Meh - 1.5 stars')
												input#star17(type='radio', name='rating8', value='91')
												label.full(for='star17', title='Sucks big time - 1 star')
												input#star07half(type='radio', name='rating8', value='9half')
												label.half(for='star07half', title='Sucks big time - 0.5 stars')
							.cat-item
								.labels-holder
									.label -30%
								.image-holder
									img(src="img/content/sl1.png", alt="")
								.item-body
									.text-holder
										p
											|Костюм мужской SUIT STARS EVO PL RIB
									.price-holder
										span.name Цена:
										span.old 2190
										span 1547 uah
									.prod-sizes
										p Доступные размеры:
										ul.inline-layout
											li
												a.option(href="#") XS
											li
												a.option(href="#") S
											li
												a.option(href="#") M
											li
												a.option(href="#") L
											li
												a.option(href="#") XL
											li
												a.option(href="#") XXL
											li
												a.option(href="#") XXXL
										select#34.prod-select(name="prod-select")
											option(value="XS", selected) XS
											option(value="S") S
											option(value="M") M
											option(value="L") L
											option(value="XL") XL
											option(value="XXL") XXL
											option(value="XXXL") XXXL
									.rate-holder
										.reviews
											a(href="#") Отзывы: 238
										.stars
											fieldset.rating
												input#star58(type='radio', name='rating9', value='105')
												label.full(for='star58', title='Awesome - 5 stars')
												input#star48half(type='radio', name='rating9', value='104 and a half')
												label.half(for='star48half', title='Pretty good - 4.5 stars')
												input#star48(type='radio', name='rating9', value='104')
												label.full(for='star48', title='Pretty good - 4 stars')
												input#star38half(type='radio', name='rating9', value='103 and a half')
												label.half(for='star38half', title='Meh - 3.5 stars')
												input#star38(type='radio', name='rating9', value='103')
												label.full(for='star38', title='Meh - 3 stars')
												input#star28half(type='radio', name='rating9', value='102 and a half')
												label.half(for='star28half', title='Kinda bad - 2.5 stars')
												input#star28(type='radio', name='rating9', value='102')
												label.full(for='star28', title='Kinda bad - 2 stars')
												input#star18half(type='radio', name='rating9', value='101 and a half')
												label.half(for='star18half', title='Meh - 1.5 stars')
												input#star18(type='radio', name='rating9', value='101')
												label.full(for='star18', title='Sucks big time - 1 star')
												input#star08half(type='radio', name='rating9', value='10half')
												label.half(for='star08half', title='Sucks big time - 0.5 stars')
							.cat-item
								.labels-holder
									.label NEW
								.image-holder
									img(src="img/content/sl2.png", alt="")
								.item-body
									.text-holder
										p
											|Костюм мужской SUIT STARS EVO PL RIB
									.price-holder
										span.name Цена:
										span.old 2190
										span 1547 uah
									.prod-sizes
										p Доступные размеры:
										ul.inline-layout
											li
												a.option(href="#") XS
											li
												a.option(href="#") S
											li
												a.option(href="#") M
											li
												a.option(href="#") L
											li
												a.option(href="#") XL
											li
												a.option(href="#") XXL
											li
												a.option(href="#") XXXL
										select#34.prod-select(name="prod-select")
											option(value="XS", selected) XS
											option(value="S") S
											option(value="M") M
											option(value="L") L
											option(value="XL") XL
											option(value="XXL") XXL
											option(value="XXXL") XXXL
									.rate-holder
										.reviews
											a(href="#") Отзывы: 238
										.stars
											fieldset.rating
												input#star59(type='radio', name='rating10', value='115')
												label.full(for='star59', title='Awesome - 5 stars')
												input#star49half(type='radio', name='rating10', value='114 and a half')
												label.half(for='star49half', title='Pretty good - 4.5 stars')
												input#star49(type='radio', name='rating10', value='114')
												label.full(for='star49', title='Pretty good - 4 stars')
												input#star39half(type='radio', name='rating10', value='113 and a half')
												label.half(for='star39half', title='Meh - 3.5 stars')
												input#star39(type='radio', name='rating10', value='113')
												label.full(for='star39', title='Meh - 3 stars')
												input#star29half(type='radio', name='rating10', value='112 and a half')
												label.half(for='star29half', title='Kinda bad - 2.5 stars')
												input#star29(type='radio', name='rating10', value='112')
												label.full(for='star29', title='Kinda bad - 2 stars')
												input#star19half(type='radio', name='rating10', value='111 and a half')
												label.half(for='star19half', title='Meh - 1.5 stars')
												input#star19(type='radio', name='rating10', value='111')
												label.full(for='star19', title='Sucks big time - 1 star')
												input#star09half(type='radio', name='rating10', value='11half')
												label.half(for='star09half', title='Sucks big time - 0.5 stars')
							.cat-item
								.labels-holder
									.label NEW
								.image-holder
									img(src="img/content/sl3.png", alt="")
								.item-body
									.text-holder
										p
											|Костюм мужской SUIT STARS EVO PL RIB
									.price-holder
										span.name Цена:
										span.old 2190
										span 1547 uah
									.prod-sizes
										p Доступные размеры:
										ul.inline-layout
											li
												a.option(href="#") XS
											li
												a.option(href="#") S
											li
												a.option(href="#") M
											li
												a.option(href="#") L
											li
												a.option(href="#") XL
											li
												a.option(href="#") XXL
											li
												a.option(href="#") XXXL
										select#34.prod-select(name="prod-select")
											option(value="XS", selected) XS
											option(value="S") S
											option(value="M") M
											option(value="L") L
											option(value="XL") XL
											option(value="XXL") XXL
											option(value="XXXL") XXXL
									.rate-holder
										.reviews
											a(href="#") Отзывы: 238
										.stars
											fieldset.rating
												input#star5q(type='radio', name='rating11', value='125')
												label.full(for='star5q', title='Awesome - 5 stars')
												input#star4qhalf(type='radio', name='rating11', value='124 and a half')
												label.half(for='star4qhalf', title='Pretty good - 4.5 stars')
												input#star4q(type='radio', name='rating11', value='124')
												label.full(for='star4q', title='Pretty good - 4 stars')
												input#star3qhalf(type='radio', name='rating11', value='123 and a half')
												label.half(for='star3qhalf', title='Meh - 3.5 stars')
												input#star3q(type='radio', name='rating11', value='123')
												label.full(for='star3q', title='Meh - 3 stars')
												input#star2qhalf(type='radio', name='rating11', value='122 and a half')
												label.half(for='star2qhalf', title='Kinda bad - 2.5 stars')
												input#star2q(type='radio', name='rating11', value='122')
												label.full(for='star2q', title='Kinda bad - 2 stars')
												input#star1qhalf(type='radio', name='rating11', value='121 and a half')
												label.half(for='star1qhalf', title='Meh - 1.5 stars')
												input#star1q(type='radio', name='rating11', value='121')
												label.full(for='star1q', title='Sucks big time - 1 star')
												input#starqhalf(type='radio', name='rating11', value='12half')
												label.half(for='starqhalf', title='Sucks big time - 0.5 stars')
							.cat-item
								.labels-holder
									.label NEW
								.image-holder
									img(src="img/content/sl4.png", alt="")
								.item-body
									.text-holder
										p
											|Костюм мужской SUIT STARS EVO PL RIB
									.price-holder
										span.name Цена:
										span.old 2190
										span 1547 uah
									.prod-sizes
										p Доступные размеры:
										ul.inline-layout
											li
												a.option(href="#") XS
											li
												a.option(href="#") S
											li
												a.option(href="#") M
											li
												a.option(href="#") L
											li
												a.option(href="#") XL
											li
												a.option(href="#") XXL
											li
												a.option(href="#") XXXL
										select#34.prod-select(name="prod-select")
											option(value="XS", selected) XS
											option(value="S") S
											option(value="M") M
											option(value="L") L
											option(value="XL") XL
											option(value="XXL") XXL
											option(value="XXXL") XXXL
									.rate-holder
										.reviews
											a(href="#") Отзывы: 238
										.stars
											fieldset.rating
												input#star5w(type='radio', name='rating12', value='135')
												label.full(for='star5w', title='Awesome - 5 stars')
												input#star4whalf(type='radio', name='rating12', value='134 and a half')
												label.half(for='star4whalf', title='Pretty good - 4.5 stars')
												input#star4w(type='radio', name='rating12', value='134')
												label.full(for='star4w', title='Pretty good - 4 stars')
												input#star3whalf(type='radio', name='rating12', value='133 and a half')
												label.half(for='star3whalf', title='Meh - 3.5 stars')
												input#star3w(type='radio', name='rating12', value='133')
												label.full(for='star3w', title='Meh - 3 stars')
												input#star2whalf(type='radio', name='rating12', value='132 and a half')
												label.half(for='star2whalf', title='Kinda bad - 2.5 stars')
												input#star2w(type='radio', name='rating12', value='132')
												label.full(for='star2w', title='Kinda bad - 2 stars')
												input#star1whalf(type='radio', name='rating12', value='131 and a half')
												label.half(for='star1whalf', title='Meh - 1.5 stars')
												input#star1w(type='radio', name='rating12', value='131')
												label.full(for='star1w', title='Sucks big time - 1 star')
												input#starwhalf(type='radio', name='rating12', value='13half')
												label.half(for='starwhalf', title='Sucks big time - 0.5 stars')
					.bott-pagination
						.pagination
							ul.inline-layout
								li
									a(href="#").start
								li
									a(href="#").prev
								li
									a(href="#") ...
								li
									a(href="#") 12
								li
									a(href="#") 13
								li.active
									a(href="#") 14
								li
									a(href="#") 15
								li
									a(href="#") 16
								li
									a(href="#") ...
								li
									a(href="#").next
								li
									a(href="#").end







		section.about
			.container
				h2 мужская обувь
				p
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				.btn-holder
					a(href="#").button Читать

		section.subscribe
			.container
				h2 подпишитесь на акции и получите скидку
				.search-holder
					form(action="")
						input(type="text", placeholder="введите свой е-mail")
						button Подписаться 


							
		include ./partials/footer.jade

		include ./partials/scripts.jade
