doctype html
html(lang='ru')
	head
		title main

		include ./partials/head.jade

	body
		include ./partials/noscript.jade
		include ./partials/top-line.jade
		


		section.main-bunner
			.owl-carousel.owl-carousel9
				.item
					.prod-item
						.image-holder
							img.fake-img(src='img/content/bunner1.png', alt='img/content/bunner1.png')
							.img(style='background-image: url("img/content/bunner1.png")')
				.item
					.prod-item
						.image-holder
							img.fake-img(src='img/content/bunner1.png', alt='img/content/bunner1.png')
							.img(style='background-image: url("img/content/bunner1.png")')
				.item
					.prod-item
						.image-holder
							img.fake-img(src='img/content/bunner1.png', alt='img/content/bunner1.png')
							.img(style='background-image: url("img/content/bunner1.png")')
				.item
					.prod-item
						.image-holder
							img.fake-img(src='img/content/bunner1.png', alt='img/content/bunner1.png')
							.img(style='background-image: url("img/content/bunner1.png")')
				.item
					.prod-item
						.image-holder
							img.fake-img(src='img/content/bunner1.png', alt='img/content/bunner1.png')
							.img(style='background-image: url("img/content/bunner1.png")')
				.item
					.prod-item
						.image-holder
							img.fake-img(src='img/content/bunner1.png', alt='img/content/bunner1.png')
							.img(style='background-image: url("img/content/bunner1.png")')
			

		section.best-price
			.container
				h2 Лучшая цена недели
				.slider-holder
					.owl-carousel1.owl-carousel
						.item
							.best-item
								.image-holder
									img.fake-img(src='img/content/tov1.png', alt='img/content/tov1.png')
									.img(style='background-image: url("img/content/tov1.png")')
								.text-holder
									p
										|Asian Navy Blue & Red Eva Sport Shoes For Men
								.price-wrap
									.price-holder
										span.old 2190
										span 1547 uah
								.btn-holder
									a(href="#") посмотреть
								a(href="#").one-click купить в 1 клик
						.item
							.best-item
								.image-holder
									img.fake-img(src='img/content/tov2.png', alt='img/content/tov2.png')
									.img(style='background-image: url("img/content/tov2.png")')
								.text-holder
									p
										|Asian Navy Blue & Red Eva Sport Shoes For Men
								.price-wrap
									.price-holder
										span.old 2190
										span 1547 uah
								.btn-holder
									a(href="#") посмотреть
								a(href="#").one-click купить в 1 клик
						.item
							.best-item
								.image-holder
									img.fake-img(src='img/content/tov3.png', alt='img/content/tov3.png')
									.img(style='background-image: url("img/content/tov3.png")')
								.text-holder
									p
										|Asian Navy Blue & Red Eva Sport Shoes For Men
								.price-wrap
									.price-holder
										span.old 2190
										span 1547 uah
								.btn-holder
									a(href="#") посмотреть
								a(href="#").one-click купить в 1 клик
						.item
							.best-item
								.image-holder
									img.fake-img(src='img/content/tov4.png', alt='img/content/tov4.png')
									.img(style='background-image: url("img/content/tov4.png")')
								.text-holder
									p
										|Asian Navy Blue & Red Eva Sport Shoes For Men
								.price-wrap
									.price-holder
										span.old 2190
										span 1547 uah
								.btn-holder
									a(href="#") посмотреть
								a(href="#").one-click купить в 1 клик
						.item
							.best-item
								.image-holder
									img.fake-img(src='img/content/tov1.png', alt='img/content/tov1.png')
									.img(style='background-image: url("img/content/tov1.png")')
								.text-holder
									p
										|Asian Navy Blue & Red Eva Sport Shoes For Men
								.price-wrap
									.price-holder
										span.old 2190
										span 1547 uah
								.btn-holder
									a(href="#") посмотреть
								a(href="#").one-click купить в 1 клик
						.item
							.best-item
								.image-holder
									img.fake-img(src='img/content/tov2.png', alt='img/content/tov2.png')
									.img(style='background-image: url("img/content/tov2.png")')
								.text-holder
									p
										|Asian Navy Blue & Red Eva Sport Shoes For Men
								.price-wrap
									.price-holder
										span.old 2190
										span 1547 uah
								.btn-holder
									a(href="#") посмотреть
								a(href="#").one-click купить в 1 клик




		section.directions
			h2 ОСНОВНЫЕ НАПРАВЛЕНИЯ ИНТЕРНЕТ МАГАЗИНА STILIAGA.COM.UA
			.directions-holder
				.inline-layout.col-2
					.direction-group
						.inline-layout.col-2
							.direction-block
								.image-holder
									img.fake-img(src='img/content/tov6.png', alt='img/content/tov6.png')
									.img(style='background-image: url("img/content/tov6.png")')
							.direction-block
								.table-holder
									.cell-holder
										.description
											h3 ЭBO
											p красота, которой позавидуют
										.btn-holder
											p Cтань лучше своих подруг
											a(href="#").button выбрать
							.direction-block
								.table-holder
									.cell-holder
										.description
											h3 ЭBO
											p красота, которой позавидуют
										.btn-holder
											p Cтань лучше своих подруг
											a(href="#").button выбрать
							.direction-block
								.image-holder
									img.fake-img(src='img/content/tov7.png', alt='img/content/tov7.png')
									.img(style='background-image: url("img/content/tov7.png")')
					.direction-group
						.inline-layout.col-2
							.direction-block
								.image-holder
									img.fake-img(src='img/content/tov6.png', alt='img/content/tov6.png')
									.img(style='background-image: url("img/content/tov6.png")')
							.direction-block
								.table-holder
									.cell-holder
										.description
											h3 ЭBO
											p красота, которой позавидуют
										.btn-holder
											p Cтань лучше своих подруг
											a(href="#").button выбрать
							.direction-block
								.table-holder
									.cell-holder
										.description
											h3 ЭBO
											p красота, которой позавидуют
										.btn-holder
											p Cтань лучше своих подруг
											a(href="#").button выбрать
							.direction-block
								.image-holder
									img.fake-img(src='img/content/tov7.png', alt='img/content/tov7.png')
									.img(style='background-image: url("img/content/tov7.png")')


		section.popular
			.container
				h2 ПОПУЛЯРНЫЕ ТОВАРЫ В МАГАЗИНЕ
				.slider-holder
					.owl-carousel1.owl-carousel
						.item
							.best-item
								.image-holder
									img.fake-img(src='img/content/sl1.png', alt='img/content/sl1.png')
									.img(style='background-image: url("img/content/sl1.png")')
								.text-holder
									p
										|Asian Navy Blue & Red Eva Sport Shoes For Men
								.price-wrap
									.price-holder
										span.old 2190
										span 1547 uah
								.btn-holder
									a(href="#").button посмотреть
						.item
							.best-item
								.image-holder
									img.fake-img(src='img/content/sl2.png', alt='img/content/sl2.png')
									.img(style='background-image: url("img/content/sl2.png")')
								.text-holder
									p
										|Asian Navy Blue & Red Eva Sport Shoes For Men
								.price-wrap
									.price-holder
										span.old 2190
										span 1547 uah
								.btn-holder
									a(href="#").button посмотреть
						.item
							.best-item
								.image-holder
									img.fake-img(src='img/content/sl3.png', alt='img/content/sl3.png')
									.img(style='background-image: url("img/content/sl3.png")')
								.text-holder
									p
										|Asian Navy Blue & Red Eva Sport Shoes For Men
								.price-wrap
									.price-holder
										span.old 2190
										span 1547 uah
								.btn-holder
									a(href="#").button посмотреть
						.item
							.best-item
								.image-holder
									img.fake-img(src='img/content/sl4.png', alt='img/content/sl4.png')
									.img(style='background-image: url("img/content/sl4.png")')
								.text-holder
									p
										|Asian Navy Blue & Red Eva Sport Shoes For Men
								.price-wrap
									.price-holder
										span.old 2190
										span 1547 uah
								.btn-holder
									a(href="#").button посмотреть
						.item
							.best-item
								.image-holder
									img.fake-img(src='img/content/sl1.png', alt='img/content/sl1.png')
									.img(style='background-image: url("img/content/sl1.png")')
								.text-holder
									p
										|Asian Navy Blue & Red Eva Sport Shoes For Men
								.price-wrap
									.price-holder
										span.old 2190
										span 1547 uah
								.btn-holder
									a(href="#").button посмотреть
						.item
							.best-item
								.image-holder
									img.fake-img(src='img/content/sl2.png', alt='img/content/sl2.png')
									.img(style='background-image: url("img/content/sl2.png")')
								.text-holder
									p
										|Asian Navy Blue & Red Eva Sport Shoes For Men
								.price-wrap
									.price-holder
										span.old 2190
										span 1547 uah
								.btn-holder
									a(href="#").button посмотреть


		section.why
			.container
				h2 почему мы?
				.why-holder.inline-layout.col-4
					.why-block
						.image-holder
							img(src="img/icons/shiping.svg", alt="")
						.text-holder
							h5 БЕСПЛАТНАЯ ДОСТАВКА
							p
								|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу. Без изменений
					.why-block
						.image-holder.port
							img(src="img/icons/bag.svg", alt="")
						.text-holder
							h5 ВЫБОР СМЕЖНОГО РАЗМЕРА
							p
								|Широкий ассортимент размеров, частичный отказ при доставке
					.why-block
						.image-holder
							img(src="img/icons/portmone.svg", alt="")
						.text-holder
							h5 ОПЛАТА КУРЬЕРУ И ОНЛАЙН
							p
								|Оплата при получении или онлайн
					.why-block
						.image-holder.rew
							img(src="img/icons/reward.svg", alt="")
						.text-holder
							h5 ГАРАНТИЯ КАЧЕСТВА
							p
								|Только оригинальные товары, мировые бренды

		section.news
			.container
				h2 новости и события
				.slider-holder
					.owl-carousel.owl-carousel1
						.item
							.best-item
								.image-holder
									img(src="img/content/dl1.png", alt="")
								.text-holder
									p
										|Asian Navy Blue & Red Eva Sport Shoes For Men
									.date
										span 21.09.2017
									.description
										|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
						.item
							.best-item
								.image-holder
									img(src="img/content/dl2.png", alt="")
								.text-holder
									p
										|Asian Navy Blue & Red Eva Sport Shoes For Men
									.date
										span 21.09.2017
									.description
										|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
						.item
							.best-item
								.image-holder
									img(src="img/content/dl3.png", alt="")
								.text-holder
									p
										|Asian Navy Blue & Red Eva Sport Shoes For Men
									.date
										span 21.09.2017
									.description
										|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
						.item
							.best-item
								.image-holder
									img(src="img/content/dl4.png", alt="")
								.text-holder
									p
										|Asian Navy Blue & Red Eva Sport Shoes For Men
									.date
										span 21.09.2017
									.description
										|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
						.item
							.best-item
								.image-holder
									img(src="img/content/dl1.png", alt="")
								.text-holder
									p
										|Asian Navy Blue & Red Eva Sport Shoes For Men
									.date
										span 21.09.2017
									.description
										|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
						.item
							.best-item
								.image-holder
									img(src="img/content/dl2.png", alt="")
								.text-holder
									p
										|Asian Navy Blue & Red Eva Sport Shoes For Men
									.date
										span 21.09.2017
									.description
										|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.


		section.about
			.container
				h2 о нас
				.text-container
					.text-holder-over
						p
							|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					.btn-holder
						a(href="#").button.text-over-toggle
							span Читать
							span.hide Cкрыть

		section.subscribe
			.container
				h2 подпишитесь на акции и получите скидку
				.search-holder
					form(action="")
						input(type="text", placeholder="введите свой е-mail")
						button Подписаться 


							
		include ./partials/footer.jade

		include ./partials/scripts.jade
