doctype html
html(lang='ru')
	head
		title location

		include ./partials/head.jade

	body
		include ./partials/noscript.jade
		include ./partials/top-line.jade
		



		include ./partials/breadcrumbs.jade
		
		
		section.news-page.location
			.container
				.news-holder.inline-layout.col-5
					.news-item
						.image-holder
							img.fake-img(src='img/content/loc1.png', alt='img/content/loc1.png')
							.img(style='background-image: url("img/content/loc1.png")')
							.hover-plate
								img(src="img/icons/map-h-ico.svg", alt="")
								p Показать на карте
						.text-holder
							h5
								|бутик стиляга на саксаганского
							.adress г. Киев, ул. Саксаганского 143
							p.desc
								|3 минуты от метро «Выставочный центр»
					.news-item
						.image-holder
							img.fake-img(src='img/content/loc2.png', alt='img/content/loc2.png')
							.img(style='background-image: url("img/content/loc2.png")')
							.hover-plate
								img(src="img/icons/map-h-ico.svg", alt="")
								p Показать на карте
						.text-holder
							h5
								|бутик стиляга на саксаганского
							.adress г. Киев, ул. Саксаганского 143
							p.desc
								|3 минуты от метро «Выставочный центр»
					.news-item
						.image-holder
							img.fake-img(src='img/content/loc3.png', alt='img/content/loc3.png')
							.img(style='background-image: url("img/content/loc3.png")')
							.hover-plate
								img(src="img/icons/map-h-ico.svg", alt="")
								p Показать на карте
						.text-holder
							h5
								|бутик стиляга на саксаганского
							.adress г. Киев, ул. Саксаганского 143
							p.desc
								|3 минуты от метро «Выставочный центр»
					.news-item
						.image-holder
							img.fake-img(src='img/content/loc1.png', alt='img/content/loc1.png')
							.img(style='background-image: url("img/content/loc1.png")')
							.hover-plate
								img(src="img/icons/map-h-ico.svg", alt="")
								p Показать на карте
						.text-holder
							h5
								|бутик стиляга на саксаганского
							.adress г. Киев, ул. Саксаганского 143
							p.desc
								|3 минуты от метро «Выставочный центр»
					.news-item
						.image-holder
							img.fake-img(src='img/content/loc1.png', alt='img/content/loc1.png')
							.img(style='background-image: url("img/content/loc1.png")')
							.hover-plate
								img(src="img/icons/map-h-ico.svg", alt="")
								p Показать на карте
						.text-holder
							h5
								|бутик стиляга на саксаганского
							.adress г. Киев, ул. Саксаганского 143
							p.desc
								|3 минуты от метро «Выставочный центр»
					.news-item
						.image-holder
							img.fake-img(src='img/content/loc1.png', alt='img/content/loc1.png')
							.img(style='background-image: url("img/content/loc1.png")')
							.hover-plate
								img(src="img/icons/map-h-ico.svg", alt="")
								p Показать на карте
						.text-holder
							h5
								|бутик стиляга на саксаганского
							.adress г. Киев, ул. Саксаганского 143
							p.desc
								|3 минуты от метро «Выставочный центр»
					.news-item
						.image-holder
							img.fake-img(src='img/content/loc2.png', alt='img/content/loc2.png')
							.img(style='background-image: url("img/content/loc2.png")')
							.hover-plate
								img(src="img/icons/map-h-ico.svg", alt="")
								p Показать на карте
						.text-holder
							h5
								|бутик стиляга на саксаганского
							.adress г. Киев, ул. Саксаганского 143
							p.desc
								|3 минуты от метро «Выставочный центр»
					.news-item
						.image-holder
							img.fake-img(src='img/content/loc3.png', alt='img/content/loc3.png')
							.img(style='background-image: url("img/content/loc3.png")')
							.hover-plate
								img(src="img/icons/map-h-ico.svg", alt="")
								p Показать на карте
						.text-holder
							h5
								|бутик стиляга на саксаганского
							.adress г. Киев, ул. Саксаганского 143
							p.desc
								|3 минуты от метро «Выставочный центр»
					.news-item
						.image-holder
							img.fake-img(src='img/content/loc1.png', alt='img/content/loc1.png')
							.img(style='background-image: url("img/content/loc1.png")')
							.hover-plate
								img(src="img/icons/map-h-ico.svg", alt="")
								p Показать на карте
						.text-holder
							h5
								|бутик стиляга на саксаганского
							.adress г. Киев, ул. Саксаганского 143
							p.desc
								|3 минуты от метро «Выставочный центр»
					.news-item
						.image-holder
							img.fake-img(src='img/content/loc1.png', alt='img/content/loc1.png')
							.img(style='background-image: url("img/content/loc1.png")')
							.hover-plate
								img(src="img/icons/map-h-ico.svg", alt="")
								p Показать на карте
						.text-holder
							h5
								|бутик стиляга на саксаганского
							.adress г. Киев, ул. Саксаганского 143
							p.desc
								|3 минуты от метро «Выставочный центр»
					.news-item
						.image-holder
							img.fake-img(src='img/content/loc1.png', alt='img/content/loc1.png')
							.img(style='background-image: url("img/content/loc1.png")')
							.hover-plate
								img(src="img/icons/map-h-ico.svg", alt="")
								p Показать на карте
						.text-holder
							h5
								|бутик стиляга на саксаганского
							.adress г. Киев, ул. Саксаганского 143
							p.desc
								|3 минуты от метро «Выставочный центр»
					.news-item
						.image-holder
							img.fake-img(src='img/content/loc2.png', alt='img/content/loc2.png')
							.img(style='background-image: url("img/content/loc2.png")')
							.hover-plate
								img(src="img/icons/map-h-ico.svg", alt="")
								p Показать на карте
						.text-holder
							h5
								|бутик стиляга на саксаганского
							.adress г. Киев, ул. Саксаганского 143
							p.desc
								|3 минуты от метро «Выставочный центр»
					.news-item
						.image-holder
							img.fake-img(src='img/content/loc3.png', alt='img/content/loc3.png')
							.img(style='background-image: url("img/content/loc3.png")')
							.hover-plate
								img(src="img/icons/map-h-ico.svg", alt="")
								p Показать на карте
						.text-holder
							h5
								|бутик стиляга на саксаганского
							.adress г. Киев, ул. Саксаганского 143
							p.desc
								|3 минуты от метро «Выставочный центр»
					.news-item
						.image-holder
							img.fake-img(src='img/content/loc1.png', alt='img/content/loc1.png')
							.img(style='background-image: url("img/content/loc1.png")')
							.hover-plate
								img(src="img/icons/map-h-ico.svg", alt="")
								p Показать на карте
						.text-holder
							h5
								|бутик стиляга на саксаганского
							.adress г. Киев, ул. Саксаганского 143
							p.desc
								|3 минуты от метро «Выставочный центр»
					.news-item
						.image-holder
							img.fake-img(src='img/content/loc1.png', alt='img/content/loc1.png')
							.img(style='background-image: url("img/content/loc1.png")')
							.hover-plate
								img(src="img/icons/map-h-ico.svg", alt="")
								p Показать на карте
						.text-holder
							h5
								|бутик стиляга на саксаганского
							.adress г. Киев, ул. Саксаганского 143
							p.desc
								|3 минуты от метро «Выставочный центр»

		section.about
			.container
				h2 адреса бутиков «стиляга»
				p
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		section.about
			.container
				h2 расположение наших бутиков
				p
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

		section.location-map
			#map
			






		section.subscribe
			.container
				h2 подпишитесь на акции и получите скидку
				.search-holder
					form(action="")
						input(type="text", placeholder="введите свой е-mail")
						button Подписаться 


							
		include ./partials/footer.jade

		include ./partials/scripts.jade
		include ./partials/gmaps.jade
