doctype html
html(lang='ru')
	head
		title modals

		include ./partials/head.jade

	body
		include ./partials/noscript.jade
		



		
		section.modals

			.mobile-modal
				a(href="#").modal-close
				.call-icon
					img(src="img/icons/call-modal.svg", alt="")
				.text-holder
					p
						|введите ваш номер телефона и наши менеджеры свяжутся с вами в ближайшее время
					input(type="text", placeholder="+38 /ххх/ ххх хх хх")
					.btns
						button.button перезвоните мне
				

				
			div(style="margin-top: 100px")
			.order-modal
				.order-head
					.inline-layout.col-2
						a(href="#") Полный заказ
						a(href="#") быстрый заказ
				.order-table
					a(href="#").modal-close
					.inline-layout.col-3
						.order-block
							.head
								span Способ доставки
							.ship-type
								.order-row
									.radio.form-group
											input#radio1(type='radio', name="ship", value="1")
											label(for='radio1') Самовывоз
										.status
											span бесплатно
								.order-row
									.radio.form-group
											input#radio2(type='radio', name="ship", value="1")
											label(for='radio2') Доставка курьером по Киеву
										.status
											span бесплатно
								.order-row
									.radio.form-group
											input#radio3(type='radio', name="ship", value="1")
											label(for='radio3') Доставка почтой
										.status
											span бесплатно
								.order-row
								.order-row
								.back-basket
									a(href="#").to-basket
										img(src="img/icons/1252.svg", alt="")
										span вернуться в корзину…
						.order-block
							.head
								span данные для доставки
							.ship-data
								.order-row
									.form-group
										input(type="text", placeholder='имя')
								.order-row
									.form-group
										input(type="text", placeholder='телефон')
								.order-row
									.form-group
										input(type="text", placeholder='e-mail')
								.order-row
									.form-group.select-holder
										select#23(name="we")
											option(value="1") макрос
											option(value="2") макрос
											option(value="3") макрос
											option(value="4") макрос
								.order-row
									.form-group
										input(type="text", placeholder='коментарий')
								.btn
									button.button оформить заказ
						.order-block
							.head
								span способ оплаты
							.ship-type
								.order-row
									.radio.form-group
											input#radio5(type='radio', name="pay", value="1")
											label(for='radio5') Самовывоз
								.order-row
									.radio.form-group
										input#radio6(type='radio', name="pay", value="1")
										label(for='radio6') Самовывоз, оплата на месте
								.order-row
									.radio.form-group
										input#radio7(type='radio', name="pay", value="1")
										label(for='radio7') Оплата картой
								.order-row
								.order-row
								.total
									span итого: 
									span.num  3831

			section(style="margin-top: 100px")

			.order-modal
				a(href="#").modal-close
				.you-basket
					img(src="img/icons/1252.svg", alt="")
					span Ваша корзина

				.products-table
					table
						tbody
							tr.order-row
								th товар
								th размер
								th количество
								th цена
							tr.order-row
								td
									.description Asian Navy Blue & Red Eva Sport Shoes For Men
								td
									.select-holder
										.select-wrap
											select#e(name="e")
												option(value="1") 37
												option(value="1") 32
												option(value="1") 33
												option(value="1") 34
												option(value="1") 37
								td
									.quan
										a(href="#").incr
										input(type="number", value="1")
										a(href="#").dec
								td
									.price 
										span 1277
							tr.order-row
								td
									.description Asian Navy Blue & Red Eva Sport Shoes For Men
								td
									.select-holder
										.select-wrap
											select#e(name="e")
												option(value="1") 37
												option(value="1") 32
												option(value="1") 33
												option(value="1") 34
												option(value="1") 37
								td
									.quan
										a(href="#").incr
										input(type="number", value="1")
										a(href="#").dec
								td
									.price 
										span 1277
							tr.order-row
								td
									.description Asian Navy Blue & Red Eva Sport Shoes For Men
								td
									.select-holder
										.select-wrap
											select#e(name="e")
												option(value="1") 37
												option(value="1") 32
												option(value="1") 33
												option(value="1") 34
												option(value="1") 37
								td
									.quan
										a(href="#").incr
										input(type="number", value="1")
										a(href="#").dec
								td
									.price 
										span 1277
					.order-row
						.total
							span итого: 
							span.num  3831
					.btn
						button.button оформить заказ
					.back-basket
						a(href="#").to-basket
							span вернуться в корзину…





							

		include ./partials/scripts.jade
