doctype html
html(lang='ru')
	head
		title news

		include ./partials/head.jade

	body
		include ./partials/noscript.jade
		include ./partials/top-line.jade
		



		
		section.breadcrumbs
			.container
				ul.inline-layout
					li
						a(href="#") Главная
					li
						span /
					li
						a(href="#") Мужская обувь
		
		section.news-page
			.container
				.news-holder.inline-layout.col-5
					.news-item
						.image-holder
							img(src="img/content/dl1.png", alt="")
						.text-holder
							h5
								|Asian Navy Blue & Red Eva Sport Shoes For Men
							.date
								span 21.09.2017
							p
								|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
					.news-item
						.image-holder
							img(src="img/content/dl2.png", alt="")
						.text-holder
							h5
								|Asian Navy Blue & Red Eva Sport Shoes For Men
							.date
								span 21.09.2017
							p
								|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
					.news-item
						.image-holder
							img(src="img/content/dl3.png", alt="")
						.text-holder
							h5
								|Asian Navy Blue & Red Eva Sport Shoes For Men
							.date
								span 21.09.2017
							p
								|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
					.news-item
						.image-holder
							img(src="img/content/dl4.png", alt="")
						.text-holder
							h5
								|Asian Navy Blue & Red Eva Sport Shoes For Men
							.date
								span 21.09.2017
							p
								|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
					.news-item
						.image-holder
							img(src="img/content/dl4.png", alt="")
						.text-holder
							h5
								|Asian Navy Blue & Red Eva Sport Shoes For Men
							.date
								span 21.09.2017
							p
								|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
					.news-item
						.image-holder
							img(src="img/content/dl1.png", alt="")
						.text-holder
							h5
								|Asian Navy Blue & Red Eva Sport Shoes For Men
							.date
								span 21.09.2017
							p
								|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
					.news-item
						.image-holder
							img(src="img/content/dl2.png", alt="")
						.text-holder
							h5
								|Asian Navy Blue & Red Eva Sport Shoes For Men
							.date
								span 21.09.2017
							p
								|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
					.news-item
						.image-holder
							img(src="img/content/dl3.png", alt="")
						.text-holder
							h5
								|Asian Navy Blue & Red Eva Sport Shoes For Men
							.date
								span 21.09.2017
							p
								|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
					.news-item
						.image-holder
							img(src="img/content/dl4.png", alt="")
						.text-holder
							h5
								|Asian Navy Blue & Red Eva Sport Shoes For Men
							.date
								span 21.09.2017
							p
								|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
					.news-item
						.image-holder
							img(src="img/content/dl4.png", alt="")
						.text-holder
							h5
								|Asian Navy Blue & Red Eva Sport Shoes For Men
							.date
								span 21.09.2017
							p
								|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
					.news-item
						.image-holder
							img(src="img/content/dl1.png", alt="")
						.text-holder
							h5
								|Asian Navy Blue & Red Eva Sport Shoes For Men
							.date
								span 21.09.2017
							p
								|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
					.news-item
						.image-holder
							img(src="img/content/dl2.png", alt="")
						.text-holder
							h5
								|Asian Navy Blue & Red Eva Sport Shoes For Men
							.date
								span 21.09.2017
							p
								|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
					.news-item
						.image-holder
							img(src="img/content/dl3.png", alt="")
						.text-holder
							h5
								|Asian Navy Blue & Red Eva Sport Shoes For Men
							.date
								span 21.09.2017
							p
								|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
					.news-item
						.image-holder
							img(src="img/content/dl4.png", alt="")
						.text-holder
							h5
								|Asian Navy Blue & Red Eva Sport Shoes For Men
							.date
								span 21.09.2017
							p
								|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
					.news-item
						.image-holder
							img(src="img/content/dl4.png", alt="")
						.text-holder
							h5
								|Asian Navy Blue & Red Eva Sport Shoes For Men
							.date
								span 21.09.2017
							p
								|Бесплатная доставка по Киеву. Доставка по Украине любым перевозчиком по тарифу.
			






		section.subscribe
			.container
				h2 подпишитесь на акции и получите скидку
				.search-holder
					form(action="")
						input(type="text", placeholder="введите свой е-mail")
						button Подписаться 


							
		include ./partials/footer.jade

		include ./partials/scripts.jade
