doctype html
html(lang='ru')
	head
		title oplata/dostavka

		include ./partials/head.jade

	body
		include ./partials/noscript.jade
		include ./partials/top-line.jade
		



		
		include ./partials/breadcrumbs.jade
		
		section.payment-page
			.container
				.pay-holder
					.inline-layout.col-2
						.payment
							.pay-block
								h3 ДОСТАВКА И ОПЛАТА ПО КИЕВУ
								.text-holder
									p Доставка осуществляется курьером в будние дни с 9.00 до 19.00.
									p Стоимость доставки по Киеву 40 грн. при сумме заказа до 1000 грн.
									p Бесплатная доставка по Киеву при сумме заказа от 1000 грн.
									p Оплата заказов – наличными курьеру.
									p Доставка по Киеву и в пригород возможна курьерской службой Новая Почта на условиях доставки по Украине.
							.pay-block
								h3 ОБМЕН И ВОЗВРАТ ТОВАРА
								.text-holder
									p По Закону Украины «О защите прав потребителя» и ст.9 покупатель может в течение 14 дней поменять товар или вернуть.
									p Доставка по обмену и возврату осуществляется за счет покупателя.
									p 
										b Обмену и возврату не подлежат:

									p Обменять (вернуть) можно не любой товар. Кабинетом Министров Украины утвержден перечень товаров надлежащего качества, которые не подлежат обмену и возврату (постановлением Кабинета Министров Украины № 172 от 19.03.1994г.). К таким товарам относятся:
									ul
										li - Перчатки. Шапки,
										li - Белье нательное,
										li - Чулочно-носочные изделия.
						.shiping
							.pay-block
								h3 ДОСТАВКА И ОПЛАТА ПО УКРАИНЕ
								.text-holder
									p Доставка осуществляется курьерской компанией Новая Почта.
									p Стоимость доставки по Украине 40 грн. при сумме заказа до 1000 грн.
									p Бесплатная доставка по Украине при сумме заказа от 1000 грн.
									p Комиссию по переводу денег (за наложенный платеж) оплачивает Покупатель независимо от суммы заказа.
									p Оплата одним из способов:
									ul.type-1
										li - при получении на отделении Новой Почты (наложенный платеж),
										li - по безналичному расчёту (карта/счет Приватбанка),
										li - на сайте (картой MasterCard/Visa).
									p Срок доставки зависит от удаленности пункта назначения и графика работы КС Новая Почта.
								#image-targ
									.image-holder.video(data-video="gTvKYTHYWGA")
										img(src="img/content/ship1.png", alt="")
		section.payment-page
			.container
				.pay-holder
					.inline-layout.col-2
						.payment
							.pay-block
								h3 ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ
								.text-holder
									p Перед отправкой заказа продавец-консультант обязательно связывается с клиентом по телефону или электронной почтой. 
									p Реквизиты для оплаты заказа по безналичному расчету продавец-консультант отправляет в смс.
									p Номер товарно-транспортной накладной (ТТН) Новой Почты сообщаем в смс после отправки. 
									p Отследить заказы, отправленные Новой Почтой, можно по ссылке https://novaposhta.ua/tracking
									p Мы используем все возможности, чтобы Вы смогли получить свои заказы быстро и в полном объеме! Для нас каждый заказ индивидуален, поэтому мы всегда подберем и согласуем оптимальный вариант доставки и оплаты Вашего заказа!
									p Внимание!Заказывая доставку товара сторонними курьерскими службами (Новая Почта ) - при получении обязательно проверяйте наличие всего товара в заказе, а так же его внешний вид. В случае повреждения товара, или неполной комплектации заказа - необходимо отказаться от получения товара и его оплаты, а так же ОБЯЗАТЕЛЬНО составить акт (претензию . В случае если данная ситуация будет иметь место - обязательно сообщите нам о случившемся.
							
						.shiping
							.pay-block
								h3 Упакованный товар у нас на складе выглядит так:
								.image-holder
									img(src="img/content/ship2.png", alt="")
				

		section.subscribe
			.container
				h2 подпишитесь на акции и получите скидку
				.search-holder
					form(action="")
						input(type="text", placeholder="введите свой е-mail")
						button Подписаться 


							
		include ./partials/footer.jade

		include ./partials/scripts.jade
